<!DOCTYPE html>
<html lang="ru-ru">
    <head>
        <meta charset="UTF-8">
        <title>Basic</title>
        <link rel="stylesheet" href="./style/style.css">
        <link rel="stylesheet" href="./style/LineIcons.css">
        <link rel="stylesheet" href="./style/font-awesome.min.css">
    </head>
    <body>
        <img class="bg" src="./images/banner-bg.svg" alt="banner-bg">
        <a href="#header" class="up"><i class="lni-chevron-up"></i></a>
        <header id="header">
            <div class="container header">
                <a class="logo" href="#"><img src="./images/logo.svg" alt=""></a>
                <nav>
                    <a href="#header">Home</a>
                    <a href="#features">Features</a>
                    <a href="#about_us">About</a>
                    <a href="#why">Why</a>
                    <a href="#team">Team</a>
                    <a href="#blog">Blog</a>
                </nav>
                <a class="btn" href="#">Free Trial</a>
            </div>
        </header>
        <div class="welcome_block">
            <div class="container">
                <h1>Basic - SaaS Landing Page</h1>
                <h1><b>Kickstart Your SaaS or App Site</b></h1>
                <div class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</div>
                <a class="btn btn_start" href="#">Get Started</a>
                <img src="./images/header-hero.png" alt="header-hero">
            </div>
        </div>
        <div class="sponsors">
            <div class="container">
                <img src="./images/brand-1.png" alt="brand">
                <img src="./images/brand-2.png" alt="brand">
                <img src="./images/brand-3.png" alt="brand">
                <img src="./images/brand-4.png" alt="brand">
                <img src="./images/brand-5.png" alt="brand">
            </div>
        </div>
        <div id="features" class="info">
            <div class="container">
                <div class="title"><b>Clean and simple design,</b> Comes with everything you need to get started!</div>
                <div class="cards">
                    <div class="card">
                        <div class="card_img">
                            <img src="./images/services-shape.svg" alt="services-shape">
                            <img src="./images/services-shape-1.svg" alt="shape-1">
                        </div>
                        <a href="#"><h2>Clean</h2></a>
                        <span>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</span>
                        <a href="#">Learn More ></a>
                    </div>
                    <div class="card">
                        <div class="card_img">
                            <img src="./images/services-shape.svg" alt="services-shape">
                            <img src="./images/services-shape-2.svg" alt="shape-2">
                        </div>
                        <a href="#"><h2>Robust</h2></a>
                        <span>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</span>
                        <a href="#">Learn More ></a>
                    </div>
                    <div class="card">
                        <div class="card_img">
                            <img src="./images/services-shape.svg" alt="services-shape">
                            <img src="./images/services-shape-3.svg" alt="shape-3">
                        </div>
                        <a href="#"><h2>Powerful</h2></a>
                        <span>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</span>
                        <a href="#">Learn More ></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="about_us" class="about_us">
            <div class="container">
                <div class="blocks">
                    <div class="block">
                        <h1><b>Quick & Easy</b> to Use<br>Bootstrap Template</h1>
                        <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.</span>
                        <a class="btn btn_block" href="#">Try it Free</a>
                        <img class="img_block" src="./images/about1.svg" alt="about1">
                    </div>
                    <div class="block revers">
                        <h1><b>Modern design</b> with Essential<br>Features</h1>
                        <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.</span>
                        <a class="btn btn_block" href="#">Try it Free</a>
                        <img class="img_block" src="./images/about2.svg" alt="about2">
                    </div>
                    <div class="block">
                        <h1>Crafted for<b>SaaS, App and<br>Software Landing Page</b></h1>
                        <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.</span>
                        <a class="btn btn_block" href="#">Try it Free</a>
                        <img class="img_block" src="./images/about3.svg" alt="about3">
                    </div>
                </div>
            </div>
        </div>
        <div id="why" class="why">
            <div class="container why_block">
                <input id="modal" type="checkbox">
                <div class="bgv"></div>
                <div class="black">
                    <iframe src="https://wikipedia.org/" width="900" height="600"></iframe>
                    <label for="modal">X</label>
                </div>
                <div class="why_img">
                    <img src="./images/dots.svg" alt="dots">
                    <img src="./images/video.png" alt="video">
                    <label for="modal">></label>
                </div>
                <h1><b>Cool facts</b> this about app</b></h1>
                <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.</span>
                <div class="items">
                    <div class="bob">
                        <div class="item">125K<br>Download</div>
                    </div>
                    <div class="bob">
                        <div class="item">87K<br>Active Users</div>
                    </div>
                    <div class="bob">
                        <div class="item">4.8<br>User Rating</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="team" class="team">
            <div class="container">
                <div class="title">Meet Our <b>Creative Team<br>Members</b></div>
                <div class="team_blocks">
                    <div class="team_block">
                        <div class="team_img">
                            <img src="./images/team-1.png" alt="team">
                            <div class="links">
                                <a href="#"><i class="lni-facebook-filled"></i></a>
                                <a href="#"><i class="lni-twitter-filled"></i></a>
                                <a href="#"><i class="lni-instagram-filled"></i></a>
                                <a href="#"><i class="lni-linkedin-filled"></i></a>
                            </div>
                        </div>
                        <div class="team_text">
                            <h3>Isabela Moreira</h3>
                            <span>Founder and CEO</span>
                        </div>
                    </div>
                    <div class="team_block">
                        <div class="team_img">
                            <img src="./images/team-2.png" alt="team">
                            <div class="links">
                                <a href="#"><i class="lni-facebook-filled"></i></a>
                                <a href="#"><i class="lni-twitter-filled"></i></a>
                                <a href="#"><i class="lni-instagram-filled"></i></a>
                                <a href="#"><i class="lni-linkedin-filled"></i></a>
                            </div>
                        </div>
                        <div class="team_text">
                            <h3>Elon Musk</h3>
                            <span>Sr. Software Engineer</span>
                        </div>
                    </div>
                    <div class="team_block">
                        <div class="team_img">
                            <img src="./images/team-3.png" alt="team">
                            <div class="links">
                                <a href="#"><i class="lni-facebook-filled"></i></a>
                                <a href="#"><i class="lni-twitter-filled"></i></a>
                                <a href="#"><i class="lni-instagram-filled"></i></a>
                                <a href="#"><i class="lni-linkedin-filled"></i></a>
                            </div>
                        </div>
                        <div class="team_text">
                            <h3>Fiona Smith</h3>
                            <span>Business Development Manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_block">
            <div class="container">
                <div class="title"><b>Users sharing</b> their<br>experience</div>
                <div class="comments">
                    <div class="comment">
                        <div class="comm_img">
                            <i class="lni-quotation"></i>
                            <div class="stars">
                                <i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i>
                            </div>
                        </div>
                        <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.</span>
                        <div class="author">
                            <img class="user_photo" src="./images/author-1.png" alt="author">
                            <img class="user_bg" src="./images/textimonial-shape.svg" alt="author">
                            <h3>Fajar Siddiq</h3>
                            <span class="text_block">COO,MakerFlix</span>
                        </div>
                    </div>
                    <div class="comment active">
                        <div class="comm_img">
                            <i class="lni-quotation"></i>
                            <div class="stars">
                                <i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i>
                            </div>
                        </div>
                        <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.</span>
                        <div class="author">
                            <img class="user_photo" src="./images/author-2.png" alt="author">
                            <img class="user_bg" src="./images/textimonial-shape.svg" alt="author">
                            <h3>Marjin Otte</h3>
                            <span class="text_block">UX Specialist, Yoast</span>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comm_img">
                            <i class="lni-quotation"></i>
                            <div class="stars">
                                <i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i>
                            </div>
                        </div>
                        <span class="text_block">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.</span>
                        <div class="author">
                            <img class="user_photo" src="./images/author-3.png" alt="author">
                            <img class="user_bg" src="./images/textimonial-shape.svg" alt="author">
                            <h3>David Smith</h3>
                            <span class="text_block">CTO,Alphabet</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="blog" class="blog_block">
            <div class="container">
                <div class="title">Our Recent <b>Blog Posts</b></div>
                <div class="blogs">
                    <div class="blog">
                        <img src="./images/blog-1.jpg" alt="blog">
                        <div class="blog_info">
                            <span class="text_block">Posted By: Admin</span>
                            <span class="text_block">03 June, 2023</span>
                        </div>
                        <div class="blog_text">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.</div>
                        <a href="#">Learn More <i class="lni-chevron-right"></i></a>
                    </div>
                    <div class="blog">
                        <img src="./images/blog-2.jpg" alt="blog">
                        <div class="blog_info">
                            <span class="text_block">Posted By: Admin</span>
                            <span class="text_block">03 June, 2023</span>
                        </div>
                        <div class="blog_text">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.</div>
                        <a href="#">Learn More <i class="lni-chevron-right"></i></a>
                    </div>
                    <div class="blog">
                        <img src="./images/blog-3.jpg" alt="blog">
                        <div class="blog_info">
                            <span class="text_block">Posted By: Admin</span>
                            <span class="text_block">03 June, 2023</span>
                        </div>
                        <div class="blog_text">Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.</div>
                        <a href="#">Learn More <i class="lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact_block">
            <div class="title"><b>Subscribe Our Newsletter</b><br> get regular update</div>
            <form>
                <input type="text" placeholder="Enter email">
                <input type="submit" value="Subscribe">
            </form>
        </div>
        <footer>
            <div class="container">
                <div class="footer_main">
                    <div class="footer_item">
                        <img src="./images/logo.svg" alt="logo">
                        <span>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</span>
                        <div class="links">
                            <a href="#"><i class="lni-facebook-filled"></i></a>
                            <a href="#"><i class="lni-twitter-filled"></i></a>
                            <a href="#"><i class="lni-instagram-filled"></i></a>
                            <a href="#"><i class="lni-linkedin-filled"></i></a>
                        </div>
                    </div>
                    <div class="footer_item">
                        <h1>Quick Link</h1>
                        <a href="#">Road Map</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Refund Policy</a>
                        <a href="#">Teams of Service</a>
                        <a href="#">Pricing</a>
                    </div>
                    <div class="footer_item">
                        <h1>Resources</h1>
                        <a href="#">Home</a>
                        <a href="#">Page</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Blog</a>
                        <a href="#">Contact</a>
                    </div>
                    <div class="footer_item">
                        <h1>Contact Us</h1>
                        <span>+809272561823</span>
                        <span>info@gmail.com</span>
                        <span>www.yourweb.com</span>
                        <span>123 Street New Your City, United States Of America 750</span>
                    </div>
                </div>
                <div class="copyright">
                    Basic.com © 2023
                </div>
            </div>
            <img class="footer_bg" src="./images/footer-bg.svg" alt="footer_bg">
        </footer>
    </body>
</html>
